/* Main CSS */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVBAR */

#navigatie {
    height: 150px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: RGBA(255,255,255,0.8);
    z-index: 10;
}

#navigatie .roclogo {
    height: 80px;
    padding: 20px;
}

#navigatie ul {
    width: auto;
    display: inline-block;
    font-size: 25px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

#navigatie li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

main {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: auto;
}

/* PAGES */

.pagina {
    padding-top: 150px;
}

#welkom {
    position: relative;
    color: white;
    background-image: url(../img/School.png);
    background-size: cover;
    width: 100%;
    z-index: 8;
    text-align: center;
}

#rooster {
    position: relative;
    color: black;
    background-color: white;
    z-index: 8;
}

#cijfers {
    position: relative;
    color: white;
    background-color: gray;
    z-index: 8;
}

#aanwezigheid {
    position: relative;
    color: black;
    background-color: white;
    z-index: 8;
}

#leermiddelen {
    position: relative;
    color: white;
    background-color: gray;
    z-index: 8;
}

#planners {
    position: relative;
    color: black;
    background-color: white;
    z-index: 8;
}

/* PAGINA 1 (WELKOMSCHERM) */

#welkom .welkomtekst {
    height: 40%;
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 50px;
    text-shadow: 0 0 28px rgba(0, 0, 0, 1);
}

#welkom .welkomschermbutton {
    height: 150px;
    margin: 0 auto;
    width: auto;
    margin-top: 100px;
    opacity: 0.8;
}

@media screen and (max-width: 1025px) {

    #navigatie ul {
        font-size: 15px;
        margin-top: 5%;
    }

    #navigatie li {
        padding: 10px;
    }
    
    #welkom .welkomtekst {
        width: 60%;
    }

    #welkom .welkomschermbutton {
        height: 75px;
        position: relative;
        margin-top: 250px;
    }
}