/*
Randkleuren:
#0480ad
#7262a8
#de2880
#982045
#ea271e
#f18e25
#edd034
#0798d3
#cdd12f
#008d67
*/

/* Main CSS */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Gentium Book Basic', serif;
    font-size: 14px;
    line-height: 1.428;
}

a {
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-size: 257%;
}

h2 {
    font-size: 214%;
}

h3 {
    font-size: 171%;
}

h4 {
    font-size: 129%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 86%;
}

/* NAVBAR */

#navigatie {
    font-family: 'Open Sans', sans-serif;
    height: 150px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: RGBA(255,255,255,0.8);
    z-index: 10;
}

#navigatie .roclogo {
    height: 80px;
    padding: 20px;
}

#navigatie ul {
    width: auto;
    display: inline-block;
    font-size: 25px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

#navigatie li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

main {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: auto;
}

/* PAGES */

.pagina {
    position: relative;
    padding-top: 150px;
    padding-bottom: 1em;
}

.pagina .content {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#welkom {
    color: white;
    background-color: #0480ad;
    background-image: url(../img/School.png);
    background-size: cover;
    width: 100%;
    text-align: center;
}

.pagina .content > img {
    max-width: 100%;
}

#rooster {
    color: #000000;
    background-color: #7262a8;
    text-align: center;
}

#cijfers {
    color: #ffffff;
    background-color: #de2880;
}

#aanwezigheid {
    color: #ffffff;
    background-color: #982045;
}

#leermiddelen {
    color: #000000;
    background-color: #ea271e;
}

#planners {
    color: #000000;
    background-color: #f18e25;
}

/* PAGINA 1 (WELKOMSCHERM) */

#welkom .welkomtekst {
    height: 40%;
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 50px;
    text-shadow: 0 0 28px rgba(0, 0, 0, 1);
}

#welkom .welkomschermbutton {
    height: 150px;
    margin: 0 auto;
    width: auto;
    margin-top: 100px;
    opacity: 0.8;
}

@media screen and (max-width: 1025px) {

    #navigatie ul {
        font-size: 15px;
        margin-top: 5%;
    }

    #navigatie li {
        padding: 10px;
    }
    
    #welkom .welkomtekst {
        width: 60%;
    }

    #welkom .welkomschermbutton {
        height: 75px;
        position: relative;
        margin-top: 250px;
    }
}